# to create database, table and column

In [ ]:
create database <name>
use <database name>
show database
create tables <name(
            name varchar(limit),
            age
            )>
show tables
show columns from <table name>

# to use default name in place of null

In [ ]:
insert into cats(name, age)
value ('Victoria', 12)

# to prevent a null case in your table use

In [ ]:
create tables <table name(
name varchar(limit) not null,
age int not null
)>

# to insert into a columns   ()

In [ ]:
create tables <table name(
name varchar(limit) not null DEFAULT 'no name provided',
age int not null DEFAULT 99
)>

# creating a table with primary key

In [ ]:
create table mycats(
cats_id int not null auto_increment,
name varchar(100),
age int,
primary key(cats_id));

insert into mycats1 (name, age)
values ('george', 21)

# how to update and delete data in database

In [ ]:
update cats set breed = 'shorthair'
where breed= 'Tabby'

update cats set age = 14
where name = 'Misty';

delete from <table> where <columns_name>

# string function

In [ ]:
select concat(author_fname, ' ', author_lname)
from book

select substring(author_fname, 1, 3) 
from book

select replace('Hello World', 'Hello', 'Zello')

select reverse('Hello world')


select char_length(author_fname)
from book

# Advanced extraction

In [ ]:
select distinct author_fname, author_lname, release_year
from book

select distinct title, author_fname, author_lname, release_year 
from book
where author_fname like '%da%'
order by release_year

select distinct title, author_fname, author_lname, release_year 
from book
where title like '%\%%'

select distinct title, author_fname, author_lname, release_year 
from book
where title like '%\_%'

# Aggregate Function

In [ ]:
# count, sum, mean, max, avgerage

select  count(author_fname)
from book

select title, concat(author_fname, ' ', author_lname), count(*)
from books
group by title, author_Lname, author_Fname

select title, max(pages)
from books
group by title, pages
order by pages desc
limit 1;

select author_lname, author_fname, sum(pages)
from books
group by pages, author_fname, author_lname

select author_lname, author_fname, avg(release_year)/2, sum(release_year)
from book
group by author_fname, author_lname

# logical operators

In [1]:
select *
from book
where title not like 'c%'

select *
from book
where release_year > 2012

select *
from book
where author_lname = 'Harris' and release_year > 2002

select *
from book
where author_lname = 'Harris' or release_year  = 2004

select *
from book
WHERE release_year between 2010 and 2015

select title, concat(author_fname, ' ', author_lname) full_name, release_year
from book
where title like '%happier' and release_year > 2001 and
release_year in(2002, 2004, 2006, 2008, 2010)

SyntaxError: invalid syntax (1692166467.py, line 1)

# Relationships and Join

In [ ]:
select first_name, 
last_name, 
customer_id, 
sum(amount),
count(last_name)
from customers
join orders
on customers.id = orders.customer_id
group by orders.customer_id
order by sum(amount)

select first_name, 
last_name,
ifnull(sum(amount), 0),
count(last_name)
from customers
left join orders
on customers.id = orders.customer_id
group by customers.id
order by sum(amount)